
.project-page-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 16px;
    font-weight: 600;
    padding: 0px;
}

/* Media Query per Tablet */
@media (min-width: 768px) {
    .project-page-title {
        font-size: 48px;
    }
}