/* Reset di Base */
html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit;
}

/* Definizione Variabili per Temi e Colore di Accento */
:root {
    /* Tema Chiaro */
    --color-bg-light: #ffffff; /* Colore di sfondo */
    --color-text-light: #333333; /* Colore del testo */
    
    /* Tema Scuro */
    --color-bg-dark: #1a1a1a;
    --color-text-dark: #e6e6e6;
    
    /* Colore di Accento */
    --color-accent: #ff4500;
    --color-accent-strong: rgba(228, 8, 8, .5);
}

/* Stili di Base (Mobile First) */
html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    font-family: 'Helvetica', Arial, sans-serif;
    line-height: 1.6;
    position: relative; 
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 600; /* Questo usa Poppins Semi-Bold */
}

strong {
    font-weight: 700; /* Questo usa Poppins Bold */
}

/* ... altri stili di base ... */


.background-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; 
    background: url('/res/img/bg-noise.png'), radial-gradient(at bottom left, #2c2c2c, #000000);
    background-size: repeat;
    background-blend-mode: overlay;
    opacity: .5;
}

.column-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px;  /* come la max-width della griglia */
    width: 100%;  /* Questo assicura che prenda l'intera larghezza fino al max-width */
    z-index: -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.column-background > * {
    position: relative;
}

.column-background > *::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.05);  /* Colore delle linee */
}

.column-background > *:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.05);  /* Colore delle linee */
}

.content-container {
    padding: 20px 0;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 0; /* Garantisce che il contenuto sia al di sopra delle colonne/background */
    position: relative; 
}


.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px; /* Crea il "filetto" tra le colonne */
    max-width: 1400px; /* Imposta la larghezza massima per desktop */
    margin: 0 auto; /* Centra il contenitore dei contenuti */
    width: 100%; 
}

.col {
    padding: 0px 0px;
}

@media only screen and (max-width: 768px) {
/* Usato per definire la larghezza delle colonne */
.col-s-0 {
    display: none;
}

.col-s-1 {
    grid-column: span 1;
}

.col-s-2 {
    grid-column: span 2;
}

.col-s-3 {
    grid-column: span 3;
}

.col-s-4 {
    grid-column: span 4;
}

.col-s-5 {
    grid-column: span 5;
}

.col-s-6 {
    grid-column: span 6;
}

.col-s-7 {
    grid-column: span 7;
}

.col-s-8 {
    grid-column: span 8;
}

.col-s-9 {
    grid-column: span 9;
}

.col-s-10 {
    grid-column: span 10;
}

.col-s-11 {
    grid-column: span 11;
}

.col-s-12 {
    grid-column: span 12;
}

.content-grid.desktop {
    display: none;
}
}

/* MENU */


#closeLabel {
    position: relative;
    display: none;
    font-size: 32px;
    user-select: none;
    z-index: 8000;
}

/*  *********************************************************** */

/* CSS MOBILE */

/* ************************************************************ */

.menu-list-container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}


#menuContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#menuLabel {
    font-size: 20px;
    font-weight: 700;
}

.logo {
    display: none;
}

.logo-mobile {
    display: block;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    z-index: 5000;
}

.menu-toggle {
    cursor: pointer;
    height: 64px;
    line-height: 64px;
    width: 128px;
    align-items: center;
    justify-content: center;
    text-align: end;
}
.menu-container {
    height: 128px;
}

.menu-list li {
    text-align: center; /* Centra ogni voce del menu */
}

.menu-list {
    font-size: 48px; /* Aumenta il font */
    text-align: center; /* Centra il testo */
    font-weight: 700;
}

.menu-list a {
    display: block;
    color: var(--color-accent);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .25s ease-in-out, transform .25s ease;
}

.menu-list a:hover {
    color: white;
}

.menu-active .menu-list a {
    opacity: 1;
    transform: translateY(10px);
    visibility: visible; 
    transition: opacity .25s ease-in-out, transform .25s ease;

  }


.menu-list li:nth-child(1) a {
    transition-delay: 0s; /* nessun ritardo per il primo elemento */
}

.menu-list li:nth-child(2) a {
    transition-delay: 0.05s; /* 0.5s di ritardo per il secondo elemento */
}

.menu-list li:nth-child(3) a {
    transition-delay: .1s; /* 1s di ritardo per il terzo elemento */
}

.menu-list li:nth-child(4) a {
    transition-delay: .15s /* 1.5s di ritardo per il quarto elemento */
}

.section-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 72px;
    color: var(--color-accent);
}

.project {
    align-items: center; /* Centra verticalmente gli elementi figli */
    transition: all 0.3s ease; /* Transizione fluida per gli effetti di hover */
    max-width: 100%; /* Larghezza massima */
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 32px;
}

.project-description {
    overflow: visible; /* Cambiato da hidden a visible */
    width: 100%;
    line-height: 48px;
    padding: 0px 20px;
}

.project-title {
    position: relative;
    white-space: nowrap; /* Evita che il testo vada a capo */
    transition: all 0.3s ease; /* Transizioni per font-size e right */
    font-size: 32px;
    font-weight: 700;
    padding-top: 16px;
    z-index: 10;
    
}

.project-title p {
    width: fit-content;
    z-index: 100;
}

.portfolio-project-subtitle {
    padding-top: 0px;
    text-transform: uppercase;
}

.portfolio-project-subtitle, .project-details {
    padding-left: 0%;
    transition: all 0.3s ease; /* Transizioni per font-size e right */
    line-height: 16px;
    font-size: 12px;
    padding-bottom: 8px;
    width: 75%;
}

.project-details {
    opacity: 0%;
    z-index: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    display: none;
}

.project-details p {
     /* Puoi modificare questo valore in base alle tue esigenze */
    line-height: 1.5; /* Assicura un buon allineamento verticale del testo */
    display: flex;
    align-items: center;
    
}

.right-arrow {
    width: 30px; /* Regola la larghezza dell'SVG */
    height: 16px; /* Regola l'altezza dell'SVG */
    background: url('../img/right-arrow.svg') no-repeat center center;
    background-size: contain; /* Questo farà in modo che l'SVG si adatti alle dimensioni del contenitore */
    margin-left: 8px; /* Distanza dalla parola "more." */
}
.portfolio-project-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.3s ease;
    border: solid 1px rgba(0, 0, 0, 0);
}

.portfolio-project-image::before {
    content: ""; 
    display: block;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.portfolio-project-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Stili default */
.project .project-title {
    position: relative;
    padding-left: 0%;
    z-index: 10;
    color: var(--color-accent);
}

.project .portfolio-project-subtitle, 
.project .project-details {
    position: relative;
    transform: translateX(0%);
}

.project-title {
    font-size: 24px;
}


.project .portfolio-project-image {
    transform: translateX(0%);
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, .25));
    border: solid 1px var(--color-accent);
}

.project .img-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
    mix-blend-mode: normal;
    opacity: 1;
}

/* Stili per Mobile (basati sullo scroll) */
@media only screen and (max-width: 768px) {
    .project.mobile-inactive .project-title, 
    .project.mobile-inactive .portfolio-project-subtitle, 
    .project.mobile-inactive .portfolio-project-image {
        transform: translateX(12.5%);
    }

    .project.mobile-inactive .project-title {
        position: relative;
        
        z-index: 10;
        color: white;
    }
    
    .project.mobile-inactive .project-details {
        position: relative;
        transform: translateX(50%);
        opacity: 1; /* Opacity should be between 0 and 1 */
    }
    
    .project.mobile-inactive .portfolio-project-image {
        filter: drop-shadow(0 0 32px rgba(0, 0, 0, .25));
        border: solid 1px rgba(0, 0, 0, 0);
    }
    
    .project.mobile-inactive .img-overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
        mix-blend-mode: multiply;
        opacity: .85;
    }
}




.project-title p.animating {
    transform: translate3d(0,0,0);
    will-change: transform;
}


.top-bar {
    position: fixed;
    z-index: 5000;;
}

.shadow-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px; /* puoi modificare l'altezza come desideri */
    background: linear-gradient(to bottom, var(--color-accent-strong), rgba(0, 0, 0, 0));
    z-index: 499; /* Così appare sotto la top-bar */
    opacity: 0; /* inizialmente trasparente */
}

.projects {
    height: 6;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
    background:
        radial-gradient(at bottom left, var(--color-accent-strong), rgba(0, 0, 0, 0)),
        rgba(0, 0, 0, 0.6666);
        background-size: repeat, cover; 
    background-blend-mode: overlay, overlay;
    z-index: 0; /* Deve apparire sopra tutto tranne il menu */
    transition: all .5s ease;
}

.menu-overlay-closed {
    transition: all .5s ease;

    backdrop-filter: blur(0px);
    background:
        radial-gradient(at bottom left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        rgba(0, 0, 0, 0);
        background-size: repeat, cover; 
}

.img-overlay {
    position: absolute;
    transform: translate(0px, -100%);
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    transition: opacity .25s ease;
}



.hide {
    display: none;
    visibility: hidden;
}

.space {
    display: inline-block;
    background-color: transparent;
    height: 1px;
}

.menu-current-page {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
}

.footer-gradient {
    position: absolute;
    bottom: 0; /* Si posiziona alla base del contenitore, direttamente sotto il footer */
    left: 0;
    right: 0;
    height: 100vh; /* 250px (altezza del footer) + 500px (altezza del gradiente) */
    background: linear-gradient(to top, var(--color-accent-strong),transparent); /* Da nero opaco a trasparente */
    z-index: -1; /* Si assicura che stia sotto gli altri elementi, compreso il footer */
    opacity: .25;
}

.footer {
    height: 250px;
    font-size: 12px;
    padding: 0px 0px;
    display: flex;
    align-items: center; /* Ho cambiato 'end' in 'flex-end' per renderlo compatibile con le specifiche CSS */
    position: relative; /* Questo assicura che il gradiente stia proprio sotto il footer */
    z-index: 1; /* Mantiene il footer sopra il gradiente */
    text-align: center;
}

/* ************************************************************ */




/* Media Query per Tablet */
@media (min-width: 768px) {

    /* Adatta o estende gli stili per tablet ... */



    

    .col-m-1 {
        grid-column: span 1;
    }
    
    .col-m-2 {
        grid-column: span 2;
    }
    
    .col-m-3 {
        grid-column: span 3;
    }
    
    .col-m-4 {
        grid-column: span 4;
    }
    
    .col-m-5 {
        grid-column: span 5;
    }
    
    .col-m-6 {
        grid-column: span 6;
    }
    
    .col-m-7 {
        grid-column: span 7;
    }
    
    .col-m-8 {
        grid-column: span 8;
    }
    
    .col-m-9 {
        grid-column: span 9;
    }
    
    .col-m-10 {
        grid-column: span 10;
    }
    
    .col-m-11 {
        grid-column: span 11;
    }
    
    .col-m-12 {
        grid-column: span 12;
    }


    #menuLabel {
        font-size: 20px;
        font-weight: 700;
    }

    .logo {
        display: block;
        height: 64px;
        line-height: 64px;
        font-size: 20px;
    }

    .logo-mobile {
        display: none;
    }

    .menu-toggle {
        cursor: pointer;
        height: 64px;
        line-height: 64px;
        width: 128px;
        align-items: center;
        justify-content: center;
        text-align: end;
    }
    .menu-container {
        height: 256px;
    }

    .menu-list li {
        text-align: end;
    }

    .menu-list {
        font-size: 28px;
        font-weight: 700;
    }

    .menu-list a {
        display: block;
        color: var(--color-accent);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity .25s ease-in-out, transform .25s ease;
    }

    .menu-list a:hover {
        color: white;
    }
    
    .menu-active .menu-list a {
        opacity: 1;
        transform: translateY(10px);
        visibility: visible; 
      }
    

    .menu-list li:nth-child(1) a {
        transition-delay: 0s; /* nessun ritardo per il primo elemento */
    }
    
    .menu-list li:nth-child(2) a {
        transition-delay: 0.05s; /* 0.5s di ritardo per il secondo elemento */
    }
    
    .menu-list li:nth-child(3) a {
        transition-delay: .1s; /* 1s di ritardo per il terzo elemento */
    }
    
    .menu-list li:nth-child(4) a {
        transition-delay: .15s /* 1.5s di ritardo per il quarto elemento */
    }
    
    .section-title {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 96px;
    }

    .project {
        height: 500px; /* Altezza fissa */
        display: flex; /* Flexbox per mettere gli elementi sulla stessa linea */
        align-items: center; /* Centra verticalmente gli elementi figli */
        transition: all 0.3s ease; /* Transizione fluida per gli effetti di hover */
        max-width: 100%; /* Larghezza massima */
        cursor: pointer;
        padding-bottom: 0px;
    }

    .project-description {
        overflow: visible; /* Cambiato da hidden a visible */
        width: 25%;
        line-height: 48px;
    }

    .project-title {
        white-space: nowrap; /* Evita che il testo vada a capo */
        transition: all 0.3s ease; /* Transizioni per font-size e right */
        font-size: 32px;
        font-weight: 700;
        padding-top: 0px;
        color: white;
    }

    .project .project-title {
        color: white;
    }

    .portfolio-project-subtitle {
        padding-top: 16px;
        width: 100%;
    }

    .portfolio-project-subtitle, .project-details {
        padding-left: 0%;
        transition: all 0.3s ease; /* Transizioni per font-size e right */
        line-height: 24px;
        font-size: 12px;

    }

    .project-details {
        opacity: 0%;
        z-index: 600;
        height: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        font-size: 16px;
    }

    .project-details p {
        font-size: 24px; /* Puoi modificare questo valore in base alle tue esigenze */
        line-height: 24px; /* Assicura un buon allineamento verticale del testo */
        display: flex;
        align-items: center;
        
    }

    .right-arrow {
        width: 30px; /* Regola la larghezza dell'SVG */
        height: 16px; /* Regola l'altezza dell'SVG */
        background: url('../img/right-arrow.svg') no-repeat center center;
        background-size: contain; /* Questo farà in modo che l'SVG si adatti alle dimensioni del contenitore */
        margin-left: 8px; /* Distanza dalla parola "more." */
    }
    .portfolio-project-image {
        width: 50%;
        position: relative;
        overflow: hidden;
        transform: translateX(0);
        transition: all 0.3s ease;
        border: none;
    }

    .portfolio-project-image::before {
        content: ""; 
        display: block;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }

    
    .project .portfolio-project-image {
        border: none;
    }

    
    .portfolio-project-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;         
    }
    
    /* Effetti di hover */
    .project:hover .project-title {
         font-size: 64px; /* Rende il testo più grande */
        position: relative; /* Posizionamento relativo per sovrapporsi all'immagine */
        padding-left: 12.5%; /* Fa uscire il testo dal suo contenitore */
        z-index: 10; /* Sovrapponi al resto del contenuto */
        color: var(--color-accent)
    }

    .project:hover .portfolio-project-subtitle, .project:hover .project-details {
        position: relative; /* Posizionamento relativo per sovrapporsi all'immagine */
        transform: translateX(12.5%);
    }

    .project:hover .project-details {
        transform: translateX(50%);
        opacity: 100%;
    }

    .project:hover .portfolio-project-image {
        transform: translateX(12.5%);
        filter: drop-shadow(0 0 32px rgba(0, 0, 0, .25));
        border: none;
    }

    .top-bar {
        position: fixed;
        z-index: 5000;;
    }

    .shadow-top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 128px; /* puoi modificare l'altezza come desideri */
        background: linear-gradient(to bottom, var(--color-accent-strong), rgba(0, 0, 0, 0));
        z-index: 4999; /* Così appare sotto la top-bar */
        opacity: 0; /* inizialmente trasparente */
    }
   
    .projects {
        height: 6;
    }

    .project:hover .img-overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0.25));
        mix-blend-mode: multiply;
        opacity: .85;
    }

    .content-grid.mobile {
        display: none;
    }
    
}

/* Media Query per Desktop */
@media (min-width: 1024px) {
    /* Adatta o estende gli stili per desktop ... */
}

/* Funzionalità Tema Scuro (potresti voler utilizzare una classe o un attributo data-* sul body in base alla scelta dell'utente) */
[data-theme="dark"] {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
    /* Aggiungi altri stili per il tema scuro se necessario */
}
